*{
    box-sizing: border-box;
  }

body, html{
    margin: 0px;
    padding:10px;
  }

.container{
  font-weight:bold;

}

h.container{
display:flex;
justify-content:center;
color:Green;
font-size:400%;

}

p.container{
color:LightCoral;
font-size:160%;
line-height:80px;
border:1vmin solid MediumPurple;
}
